{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'documents/Css/pag-inicio.css' %}">
  <link rel="stylesheet" href="{% static 'documents/Css/fontello.css' %}">
  {% block static %}{% endblock %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/formulario.css' %}"> {% endcomment %}
</head>
<body>
  <header class="barra-superior">
    <div class="btn-menu">
      <label for="btn-menu" class="icon-menu" aria-label="Abrir menú"></label>
    </div>
    <img src="{% static 'documents/Images/PepsiCoLogo.png' %}" alt="logo" class="logo">

  </header>

  <input type="checkbox" id="btn-menu" />

  <div class="container-menu">
    <div class="cont-menu" role="navigation" aria-label="Menú lateral">
      <label for="btn-menu" class="close icon-equis" aria-label="Cerrar menú"></label>
      <nav>
        <a href="{% url 'busqueda_patente' %}" class="icon-home">Inicio</a>
        <a href="{% url 'calendario' %}" class="icon-doc">Calendario</a>
        <a href="{% url 'ingresos_list' %}" class="icon-truck">Ingresos</a>
        <a href="{% url 'incidents:incident_list' %}" class="icon-pause">Incidentes</a>
        <a href="{% url 'diagnostics:diagnostics_list' %}" class="icon-doc">Diagnósticos</a>
        <a href="{% url 'orden_trabajo_list' %}" class="icon-doc-text-inv">Órdenes de Trabajo</a>
        <a href="{% url 'repuestos:dashboard' %}" class="icon-doc">Repuestos</a>
        <a href="{% url 'datos' %}" class="icon-doc">Datos</a>
        <a href="#" class="icon-doc">Reportes</a>
        {% if user.is_authenticated %}
          <a href="{% url 'user_dashboard' %}" class="icon-user">Mi Perfil</a>
          <a href="{% url 'logout' %}" class="icon-logout">Salir</a>
        {% else %}
          <a href="{% url 'login' %}" class="icon-user">Iniciar Sesión</a>
        {% endif %}
      </nav>
    </div>
  </div>
  {% block content %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
