{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'documents/Css/pag-inicio.css' %}">
  <link rel="stylesheet" href="{% static 'documents/Css/fontello.css' %}">
  {% block static %}{% endblock %}
</head>
<body>
  <header class="barra-superior">
    <div class="btn-menu">
      <label for="btn-menu" class="icon-menu" aria-label="Abrir menú"></label>
    </div>
    <img src="{% static 'documents/Images/PepsiCoLogo.png' %}" alt="logo" class="logo">

  </header>

  <input type="checkbox" id="btn-menu" />

  <div class="container-menu">
    <div class="cont-menu" role="navigation" aria-label="Menú lateral">
      <label for="btn-menu" class="close icon-equis" aria-label="Cerrar menú"></label>
      <nav>
        <a href="{% url 'busqueda_patente' %}" class="icon-home">Inicio</a>
        <a href="#" class="icon-truck">Ingresos</a>
        <a href="#" class="icon-pause">Pausas</a>
        <a href="#" class="icon-doc-text-inv">Documentos</a>
        <a href="#" class="icon-doc">Reportes</a>
        <a href="#" class="icon-user">Mi Perfil</a>
        <a href="login.html" class="icon-logout">Salir</a>
      </nav>
    </div>
  </div>
  {% block content %}{% endblock %}
</body>
</html>
